@import url("https://fonts.google.com/specimen/Poppins");

:root{
    --main-color: hsl(202, 46%, 72%); 
    --primary: hsl(182, 82%, 93%);
    --black: hsl(0, 0%, 8%) ;
    --white: hsl(0, 0%, 100%) ;
    --bg: hsl(0, 0%, 95%) ;
    --light-black: hsl(0, 0%, 40%) ;
}


*{
font-family:'Poppins',sans-serif;
margin:0; padding:0;
box-sizing:border-box;
outline:none;
border:none; text-decoration:none;
text-transform:capitalize;
transition: .2s linear;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--white);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 4rem;
}

.btn{
    display: inline-block;
    margin-top:1rem;
    padding:1rem 3rem;
    border: .1rem solid var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    font-size:1.7rem;
    color:var(--main-color);
}
 
.btn:hover{
    background: var(--main-color);
    color:var(--white);
}

/*flashcards section begins*/

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.create-Flashcard {
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.create-Flashcard textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
}

.create-Flashcard button{
    width: fit-content;
}

.flashcards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcards{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.flashcards h2{
    font-size: 1rem;
}

@media(max-width:768px){
    .flashcards{
        margin: auto;
    }

    .flashcards{
        margin-top: 10px;
        margin-bottom: 10px
    }
}

@media(max-width:480px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .create-Flashcard{
        width: 100%;
    }

    .flashcards{
        width: 100%;
    }
}

/*flashcards section ends*/